{
    local_certs
}

localhost {
    tls internal


    @backend {
        path /api/*
        path /u/*
        path /g/*
        path /t/*
        path /o/*
        path /s/*
        path /.well-known/*
        path /nodeinfo*        
        path /u/*
        path /m/*
    }
    reverse_proxy @backend http://localhost:3000

    reverse_proxy http://localhost:5173
}
