version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file: ./backend/.env
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
volumes:
  mongo_data:
